
PayconiqTestAssignmentTests/.DS_Store
.DS_Store
PayconiqTestAssignment.xcodeproj/project.xcworkspace/xcuserdata/vinaydevdikar.xcuserdatad/UserInterfaceState.xcuserstate
PayconiqTestAssignment.xcodeproj/xcuserdata/vinaydevdikar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
